@import "variables";
@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/ptsans.woff") format("woff"),
  url("/fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  src: url("/fonts/ptsansbold.woff") format("woff"),
  url("/fonts/ptsansbold.woff2") format("woff2");
}

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  background-color: $input-background-color;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.break {
  display: none;
  &--desktop {
    @media (min-width: $desktop-screen) {
      display: inline;
    }
  }
  &--tablet {
    @media (min-width: $tablet-screen) and (max-width: $desktop-screen - 1) {
      display: inline;
    }
  }
  &--mobile {
    @media (max-width: $tablet-screen - 1) {
      display: inline;
    }
  }
}
