@import "variables";
@font-face {
  font-family: 'PT Sans';
  src: url("/fonts/ptsans.woff") format("woff"),
  url("/fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  src: url("/fonts/ptsansbold.woff") format("woff"),
  url("/fonts/ptsansbold.woff2") format("woff2");
}

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  background-color: $input-background-color;
  //background: url("/img/sedona-index-mobile.jpg") no-repeat;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
