@import "../variables";
@import "../mixins";

.advantages{
  padding-top: 40px;
  background-color: white;
  max-width: 450px;
  margin: 0 auto;
}

.advantages__header {
  margin-bottom: 6px;
}

.advantages__list {
  @include reset-list;
}

@media (min-width: $tablet-screen) {
  .advantages {
    padding-top: 50px;
    max-width: $tablet-screen;
    margin: 0 auto;
  }

  .advantages__header {
    margin-bottom: 50px;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-screen) {
  .advantages {
    max-width: $desktop-screen;
  }
  .advantages__header {
    margin-bottom: 51px;
  }
}
