@import "../variables";

.advantages{
  padding-top: 40px;
  background-color: white;
}

.advantages__header {
  margin-bottom: 6px;
}

@media (min-width: $tablet-screen) {
  .advantages {
    padding-top: 50px;
    max-width: $tablet-screen;
    margin: 0 auto;
  }

  .advantages__header {
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-screen) {
  .advantages {
    max-width: $desktop-screen;
  }
}
