@import "../variables";

.advantage {
  display: flex;
  flex-direction: column;
}

.advantage__image {
  width: 100%;
  height: auto;
  vertical-align: top;
}

@media (min-width: $tablet-screen) {
  .advantage {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: start;
  }
  .advantage__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 512px;
    max-height: 256px;
  }
  .advantage__image {
    width: 100%;
    height: auto;
  }
  .advantage--bridge {
    flex-direction: row-reverse;
  }
}

@media (min-width: $desktop-screen) {
  .advantage__image-wrapper {
    max-width: 800px;
  }
}
