@import "../variables";

.advantage {
  display: flex;
  flex-direction: column;
}

.advantage__image {
  height: 256px;
}

@media (min-width: $tablet-screen) {
  .advantage {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
  .advantage__image {
    height: 256px;
  }
}

@media (min-width: $desktop-screen) {
  .advantage__image {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 256px;
  }
}
