@import "../variables";
.base-button {
  display: block;
  padding: 15px 0;
  width: 100%;
  background-color: $control-background-color;
  color: white;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}
