@import "../variables";
.feature {
  padding: 0 20px 29px 20px;
}

.feature__title-wrapper {
  display: flex;
}

.feature__icon {
  fill: #81b3d2;
}

.feature__icon--house {
  margin: -10px 10px 0 1px;
}

.feature__icon--gift {
  margin: -10px 13px 0 5px;
  width: 32px;
  height: 37px;
}

.feature__icon--burger {
  margin: -6px 12px 0 -1px;
  width: 38px;
  height: 35px;
}

.feature__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.feature__description {
  margin-top: 12px;
  margin-left: 50px;
  font-size: 14px;
  line-height: 21px;
  color: $secondary-text-color;
  text-transform: uppercase;
}

.feature__text-divider {
  //display: none;
}

@media (min-width: $tablet-screen) {
  .feature {
    width: 256px;
    padding: 60px 0 54px 0;
  }
  .feature__icon--house {
    height: 72px;
    width: 75px;
    margin: 0 2px 0 0;
  }
  .feature__icon--burger {
     height: 68px;
     width: 77px;
     margin: 3px 1px 1px 0;
   }
  .feature__icon--gift {
    height: 75px;
    width: 64px;
    margin: -3px 3px 1px 0;
  }
  .feature__title-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .feature__title {
    font-size: 21px;
    margin-top: 27px;
  }
  .feature__description {
    margin: 21px auto 0 auto;
    width: 156px;
    text-align: center;
  }
  .feature--gift {
    order: 2;
    & .feature__description {
      width: 165px;
    }
  }
}

@media (min-width: $desktop-screen) {
  .feature {
    width: 400px;
    padding-bottom: 73px;
  }
  .feature__description {
    width: 285px;
  }
  .feature--gift {
    & .feature__description {
      width: 285px;
    }
  }
}
