.feedback-form {
  padding: 0 20px;
}
.feedback-form__section {
  padding: 0;
}

.feedback-form__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
