@import "../variables";

.feedback-form {
  background-color: white;
  border-bottom: transparent 1px solid;
  //запрещаем схлопывание снизу
}

.feedback-form__identity {
  margin-bottom: 25px;
}

.feedback-form__contacts {
  margin-bottom: 28px;
}

.feedback-form__impressions {
  margin-bottom: 28px;
}

.feedback-form__attractions {
  margin-bottom: 25px;
}

.feedback-form__emotions {
  margin-bottom: 51px;
}

.feedback-form__send-button {
  max-width: 280px;
  margin: 0 auto 41px auto;
}
