.fieldset {
  padding: 18px 20px 0 20px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.fieldset__title {
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.fieldset__title--impressions {
  margin-bottom: 22px;
}

.fieldset__title--attractions {
  margin-bottom: 17px;
}

.fieldset__title--emotions {
  margin-bottom: 17px;
}
