.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 390px;
  background: url("/img/bg-intro-triangle-mobile.svg") no-repeat center bottom,
              url("/img/bg-back-mobile@1x.jpg") no-repeat scroll center;
  background-size: cover, auto;
}

.intro--mini {
  height: 160px;
  background-position: bottom center;
}

.intro__text-sedona {
  max-width: 280px;
}
