@import "../variables";

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 390px;
  background: url("/img/bg-intro-triangle-mobile.svg") no-repeat center bottom,
              url("/img/bg-back-mobile@1x.jpg") no-repeat scroll center;
  background-size: contain, auto;
}

.intro--mini {
  height: 158px;
  background-position: bottom center;
  & .intro__text-sedona {
    margin-top: -14px;
    max-width: 230px;
  }
}

.intro__text-sedona {
  margin-top: 6px;
  max-width: 282px;
}

@media (min-width: $tablet-screen) {
  .intro {
    padding-top: 57px;
    padding-bottom: 73px;

    background: url("/img/bg-intro-triangle-tablet.svg") no-repeat center bottom,
    url("/img/bg-back-tablet@1x.jpg") no-repeat center bottom;
  }

  .intro__text-sedona {
    max-width: 463px;
  }

  .intro--mini {
    height: 160px;
    .intro__text-sedona {
      max-width: 460px;
      margin-top: -7px;
    }
  }
}

@media (min-width: $desktop-screen) {
  .intro {
    padding-top: 58px;
    padding-bottom: 72px;

    background: url("/img/bg-intro-triangle-desktop.svg") no-repeat center bottom,
    url("/img/bg-back-desktop@1x.jpg") no-repeat center bottom;
  }

  .intro--mini {
    height: 171px;
  }
}
