@import "../variables";

.main-nav__list {
  display: flex;
  flex-direction: column;
}

.main-nav__list-item {
  position: relative;
  & a {
    display: block;
    padding-top: 16px;
    padding-bottom: 15px;

    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;

    background-color: $control-background-color;
    border-bottom: solid #678fa8 1px;
    border-top: solid #9ac2db 1px;

    &:hover {
      background-color: $control-hover-background-color;
    }
    &:active {
      background-color: $control-down-background-color;
      color: $control-down-color;
    }
  }
  &:last-child a{
    border-bottom: none;
    box-shadow: inset 0 -7px 20px -10px rgba(0, 0, 0, .5);
  }
}

.main-nav__close-button {
  position: absolute;
  top: 17px;
  right: 20px;
}

.main-nav__bar {
  position: relative;
  height: 55px;
  display: flex;
  justify-content: center;
}

.main-nav__logo {
  width: 102px;
  height: 84px;
}

.main-nav__burger-button {
  position: absolute;
  top: 16px;
  right: 20px;
}

.main-nav--closed {
  & > .main-nav__list {
    display: none;
  }
}


@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__list-item {
    width: 20%;
    &:last-child a {
      box-shadow: none;
    }

    & a {
      background-color: white;
      border: none;
      color: black;
      font-size: 14px;

      &:hover {
        background-color: $menu-item-background-color;
        color: $menu-item-hover-color;
        cursor: pointer;
      }
      &:active {
        background-color: $menu-item-down-background-color;
        color: $menu-item-active-down-color;
      }
    }
    &:nth-child(2) {
      margin-right: 20%;
    }

  }

  .main-nav__close-button, .main-nav__burger-button {
    display: none;
  }

  .main-nav__bar {
    position: static;
    width: 100%;
    top: 0;
    height: 0;
  }

  .main-nav__logo {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
  }

  .main-nav--closed {
    & > .main-nav__list {
      display: flex;
    }
  }

  .main-nav__list-item--active {
    cursor: default;
    a {
      color: $menu-item-active-color;
      &:hover {
        color: $menu-item-active-hover-color;
      }
      &:active {
        color: $menu-item-active-down-color;
      }
    }
  }
}

@media (min-width: $desktop-screen) {
  .main-nav__logo {
    width: 190px;
    height: 96px;
  }
}
