@import "../variables";

.main-nav__list {
  display: flex;
  flex-direction: column;
}

.main-nav__list-item {
  position: relative;
  & a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;

    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;

    background-color: $mobile-menu-background-color;
    border-bottom: solid #678fa8 1px;
    border-top: solid #9ac2db 1px;
  }
  &:last-child a{
    border-bottom: none;
  }
}


.main-nav__close-button {
  position: absolute;
  top: 15px;
  right: 13px;
}

.main-nav__bar {
  position: relative;
  height: 56px;
  display: flex;
  justify-content: center;
}

.main-nav__logo {
  width: 103px;
  height: 85px;
}

.main-nav__burger-button {
  position: absolute;
  top: 17px;
  right: 14px;
}

@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__list-item {
    width: 20%;
    & a {
      background-color: white;
      border: none;
      color: black;
      font-size: 14px;
    }
    &:nth-child(2) {
      margin-right: 20%;
    }
  }

  .main-nav__close-button, .main-nav__burger-button {
    display: none;
  }

  .main-nav__bar {
    position: absolute;
    width: 100%;
    top: 0;
  }

}
