.page-footer {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__hashtag {
  margin: 0;
  display: block;
  color: black;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-footer__copyright {
  margin-top: 28px;
  margin-left: -12px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}

.page-footer__copyright-icon{
  position: relative;
  top: 14px;
  right: -10px;
}

.page-footer__social {
  margin-top: 37px;
}
