@import "../variables";


.page-header {
  padding-top: 55px;
  margin: 0 auto;
  background-color: white;
}

@media (min-width: $tablet-screen) {
  .page-header {
    padding-top: 0;
    max-width: 768px;
  }
}

@media (min-width: $desktop-screen) {
  .page-header {
    max-width: 1200px;
  }
}
