@import "../variables";

.page-footer {
  padding: 31px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.page-footer__hashtag {
  margin: 0;
  display: block;
  color: black;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-footer__copyright {
  position: relative;
  min-width: 130px;
  min-height: 35px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}


.page-footer__copyright-icon{
  margin-left: 14px;
}

.page-footer__social {
  margin-top: 37px;
}

@media (min-width: $tablet-screen) {
  .page-footer {
    max-width: $tablet-screen;
    margin: 0 auto;
    padding: 0;
    height: 112px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .page-footer__social {
    margin: 0;
  }
  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-screen) {
  .page-footer {
    max-width: $desktop-screen;
  }

}
