@import "../variables";
@import "../mixins";

.photo {
  padding: 22px 20px 18px 20px;
  margin: 0 auto;
  max-width: 450px;
  box-sizing: border-box;
  border-top: #e5e5e5 1px solid;
}

.photo__image {
  display: block;
  margin-bottom: 19px;
  width: 100%;
  height: auto;
}
.photo__title {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__author {
  margin-bottom: 12px;
  display: block;
  font-size: 14px;
  color: $secondary-text-color;
}

.photo__like-button {
  @include reset-button;
  margin-right: 15px;
  svg {
    fill: rgba(black, 0.3)
  }
}

.photo__likes {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

@media (min-width: $tablet-screen) {
  .photo {
    padding: 0;
    border: none;
    max-width: none;
    margin: 0;
  }
  .photo__image {
    margin: 0;
  }
  .photo__legend {
    position: relative;
    padding: 18px 20px 10px 20px;
    background-color: #f2f2f2;
  }
  .photo__likes {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .photo__like-button {
    margin-right: 9px;
  }
}

@media (min-width: $desktop-screen) {
  .photo {
    position: relative;
  }
  .photo__legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-color: rgba(black, 0.6);
  }
  .photo__author {
    color: white;
  }
  .photo__like-button {
    svg {
      fill: white;
    }
  }
}
