@import "../variables";
@import "../mixins";

.photo-gallery {
  background-color: white;
}

.photo-gallery__photos{
  @include reset-list;
  margin-top: 26px;
  @media (max-width: $tablet-screen - 1) {
    &:last-child {
      border-bottom: #e5e5e5 1px solid;
    }
  }
}

@media (min-width: $tablet-screen) {
  .photo-gallery__photos {
    display: flex;
    flex-wrap: wrap;

  }
}

@media (min-width: $desktop-screen) {
  .photo-gallery {
    margin: 0 auto;
  }
  .photo-gallery__photos {
    padding-top: 71px;
    max-width: none;
    flex-shrink: 0;
    margin: 0;
  }

}
