@import "../variables";
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 0 5px 0;
  text-align: center;
  background-color: white;
}

.section-header__title {
  width: 85%;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.section-header__description {
  margin-top: 27px;
  width: 85%;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.section-header--big-header {
  padding: 28px 0 0 0 ;
  & .section-header__title {
    font-size: 21px;
  }
  & .section-header__description {
    margin-top: 19px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-screen) {
  .section-header {
    max-width: $tablet-screen;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 0 50px 0;
  }
  .section-header__title {
    width: 445px;
    font-size: 21px;
  }
  .section-header__description {
    margin-top: 28px;
  }
}

@media (min-width: $desktop-screen) {
  .section-header {
    max-width: $desktop-screen;
  }
}
