@import "../variables";
.section-header {
  padding: 0 20px;
  text-align: center;
}

.section-header__title {
  margin: 45px 0;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}

.section-header__description {
  margin: 40px 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $secondary-text-color;
}
