@import "../variables";

.section-header {
  padding: 0 20px;
  text-align: center;
  background-color: white;
}


.section-header__title {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.section-header__description {
  margin-top: 19px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.section-header--index {
  .section-header__title {
    font-size: 18px;
  }
  .section-header__description {
    margin-top: 27px;
    line-height: 26px;
  }
}

.section-header__title--galery {
  font-size: 18px;
}
.section-header__description--galery {
  margin-top: 27px;
}


@media (min-width: $tablet-screen) {
  .section-header {
    max-width: $tablet-screen;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .section-header__title {
    font-size: 30px;
    line-height: 26px;
  }

  .section-header__description {
    margin-top: 31px;
  }

  .section-header--index {
    .section-header__title {
      font-size: 21px;
    }
  }
}

@media (min-width: $desktop-screen) {
  .section-header {
    max-width: $desktop-screen;
  }
}
