@import "../variables";

.social {
  display: flex;
  justify-content: space-between;
  width: 151px;
}

.social__link {
  width: 46px;
  height: 46px;
  background-color: $control-background-color;
}

.social__link--facebook {
  background: $control-background-color url("/img/icon-facebook.svg") no-repeat center center;
}

.social__link--twitter {
  background: $control-background-color url("/img/icon-twitter.svg") no-repeat center center;
}

.social__link--youtube {
  background: $control-background-color url("/img/icon-youtube.svg") no-repeat center center;
}
