@import "../mixins";
@import "../variables";

.main-nav__list {
  @include reset-list-style;
  display: flex;
  flex-direction: column;
}

.main-nav__list-item {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  background-color: $mobile-menu-background-color;
}

.main-nav__list-item-link {
  color: white;
  @include reset-link-style;
}

.main-nav__close-button {
  @include reset-buttom-style
}
